.apps {
    display: flex;

    .apps__link {
        display: flex;
        flex-shrink: 0;
        margin-right: 2.5%;
        overflow: hidden;
    }

    .apps__link:last-child {
        margin-right: 0;
    }

    .apps__link svg {
        width: 140px;
        height: 40px;
    }

    @media @gt-mobile {
    }

    @media @gt-tablet {
    }
}
