.features {
    background-color: #eeeeee;
    padding-top: 18px;
    padding-bottom: 12px;

    .features__item {
        display: flex;
        align-items: center;
        margin-bottom: 2px;
        padding-right: 30px;
    }

    .features__icon {
        margin-right: 18px;
    }

    .features__icon svg {
        width: 40px;
        height: 40px;
    }

    .features__text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    @media @gt-mobile {
        .features__wrapper {
            display: flex;
            justify-content: space-between;
        }

        .features__item {
            width: 30%;
            padding-right: 0;
        }

        .features__icon {
            margin-right: 10px;
        }
    }

    @media @gt-tablet {
        padding-top: 33px;
        padding-bottom: 28px;

        .features__icon {
            margin-right: 30px;
        }

        .features__icon svg {
            width: 50px;
            height: 50px;
        }

        .features__item {
            width: 31%;
            padding-right: 40px;
        }

        .features__item:last-child {
            padding-right: 60px;
        }
    }
}
