.footer {
    padding-top: 30px;
    padding-bottom: 5px;
    color: #999999;
    background-color: var(--header-background-color);

    .footer__top {
        padding-bottom: 30px;
        border-bottom: 1px solid #666666;
    }

    .footer__socials {
        margin-bottom: 30px;
    }

    .footer__logo {
        display: none;
    }

    .footer__bottom {
        padding-top: 1px;
        padding-right: 30px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }

    .footer__copy {
        margin-bottom: 0px;
    }

    .footer__stat {
        margin-top: 0;
    }

    @media @gt-mobile {
        padding-bottom: 12px;

        .footer__top {
            display: flex;
            align-items: baseline;
            padding-bottom: 0;
            padding-right: 7px;
        }

        .footer__socials {
            margin-right: auto;
        }

        .footer__bottom {
            padding-top: 15px;
        }
    }

    @media @gt-tablet {
    }
}
