.socials {
    display: flex;

    .socials__link {
        display: flex;
        margin-right: 5.6%;
        border-radius: 50%;
        overflow: hidden;
    }

    .socials__button svg {
        width: 35px;
        height: 35px;
    }

    @media @gt-mobile {
    }

    @media @gt-tablet {
    }
}
